.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.top-buffer { margin-top:20px; }
.the-fieldset {
    border: 2px groove threedface;
    -webkit-box-shadow: #000;
            box-shadow: #000;
}
